{% extends 'quickswap/home.html' %}
{% load quickswap_template_tags %}
{% load staticfiles %}

{% block title_block %}
  All Trades
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
  <div class="container">
    <h1 class="jumbotron-heading">All Trades</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    {% if trade_list %}
    <div class="panel-body">
      <div class="list-group">
        {% for list_trade in trade_list %}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
              {% with user=list_trade.user.username %}
                <p>
                  <img src="{{ MEDIA_URL }}{{ pictures|getDictValue:list_trade }}"
                  alt="Trade Picture"
                  width="48"
                  height="48">
                  <a href="{% url 'quickswap:trade' list_trade.slug %}">
                    {{ list_trade.name }}
                  </a>
                  - Category:
                  <a href="{% url 'quickswap:category' list_trade.category %}">
                    {{ list_trade.category|capfirst }}
                  </a>
                  - Author:
                  <a href="{% url 'quickswap:user' list_trade.user.username %}">
                    {{ user }}
                  </a>
                  - Comments: {{ comment_num|getDictValue:list_trade }}
                </p>
              {% endwith %}
            </h4>
          </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
      <h5>
        Quickswap has no available trades. Try refreshing the page! <br />
        If this problem persists please contact support.
      </h5>
    {% endif %}
  </div>
</div>
{% endblock %}
