{% extends 'quickswap/home.html' %}
{% load staticfiles %}

{% block title_block %}
  All Users
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
  <div class="container">
    <h1 class="jumbotron-heading">All Users</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    {% if user_profile_list %}
    <div class="panel-body">
      <div class="list-group">
        {% for list_user in user_profile_list %}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
              <img src="{{ MEDIA_URL }}{{ list_user.picture }}"
              width="48"
              height="48"
              />
              <a href="{% url 'quickswap:user' list_user.user.username %}">
                {{ list_user.user.username }}
              </a>
            </h4>
          </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
      <h5>
        Quickswap has no registered users. <img src="{% static 'images/frown.svg' %}"> <br />
        <a href="{% url 'registration_register' %}">Why don't you make an account?</a>
      </h5>
    {% endif %}
  </div>
</div>
{% endblock %}
