{% extends 'quickswap/base.html' %}
{% load quickswap_template_tags %}
{% load staticfiles %}

{% block title_block %}
    Category - {{ selected_category|capfirst }}
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
  <div class="container">
    {% if selected_category %}
      <h1 class="jumbotron-heading">{{ selected_category|capfirst }}</h1>
    {% else %}
      <h1 class="jumbotron-heading">The category does not exist! Please try again, or if error persists, contact support. </h1>
    {% endif %}
  </div>
</div>

<div class="container">
  <div class="row">
    {% if trade_list %}
    <div class="panel-body">
      <div class="list-group">
        {% for list_trade in trade_list %}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
              <p>
                <img src="{{ MEDIA_URL }}{{ pictures|getDictValue:list_trade }}"
                width="48"
                height="48"/>
                <a href="{% url 'quickswap:trade' list_trade.slug %}">
                  {{ list_trade.name }}
                </a>
                - Author:
                <a href="{% url 'quickswap:user' list_trade.user.username %}">
                  {{ list_trade.user.username }}
                </a>
                - Comments: {{ comment_num|getDictValue:list_trade }}
              </p>
            </h4>
          </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
      <h5>
        This category has no trades. <img src="{% static 'images/frown.svg' %}"> <br />
        <a href="{% url 'quickswap:add_trade' %}">Why don't you make one now?</a>
      </h5>
    {% endif %}
  </div>
</div>
{% endblock %}
