{% extends 'quickswap/home.html' %}
{% load quickswap_template_tags %}
{% load staticfiles %}

{% block title_block %}
  Quickswap Categories
{% endblock %}

{% block body_block %}
<div class="jumbotron p-4">
  <div class="container">
    <h1 class="jumbotron-heading">All Categories</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    {% if categories_list %}
    <div class="panel-body">
      <div class="list-group">
        {% for list_category in categories_list %}
          <div class="list-group-item">
            <h4 class="list-group-item-heading">
              <p>
              <a href="{% url 'quickswap:category' list_category %}">
                {{ list_category }}
              </a>
                - Trades: {{ trade_nums|getDictValue:list_category }}
              </p>
            </h4>
          </div>
        {% endfor %}
      </div>
    </div>
    {% else %}
      <h5>Quickswap seems to have no categories, please contact support.</h5>
    {% endif %}
  </div>
</div>
{% endblock %}
