{% extends 'quickswap/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About quickswap
{% endblock %}

{% block body_block %}
<div class="jumbotron p-3">
    <div class="container">
        <h1 class="jumbotron-heading">Get In Touch</h1>
    </div>
</div>
<div>
  <h5>If you need to reach us for any reason, or just want to say
     how much you love the site, please use the following:<br />
     <a href="mailto:quickswap@email.com">quickswap@email.com</a><br />
     Thank you for visiting Quickswap!
  </h5>
</div>



{% endblock %}
